ul>li {
	list-style-type: none;
}
a {
	cursor: pointer;
}
.margin-top-2em {
	margin-top: 2em;
};
.margin-1_5em {
	margin: 1.5em;
}
.margin-left-15px {
	margin-left: 15px;
}
.padding-0 {
	padding: 0;
}
.padding-0_5em {
	padding: 0.5em;
}
.font-size-30px {
	font-size: 30px;
}
.font-size-1_2em {
	font-size: 1.2em;
}
.hover-style {
	color: #ccc;
}
.hover-style:hover {
	color: green;
}
.border-right-none {
	border-right: none;
}
.float-right {
	float: right;
}
.generate {
	color: grey;
	text-align: center;
	padding: 1.5em;
}	
.color-black {
	color: black;
}
.color-lightgray {
	color: lightgray;
}
.text-center {
	text-align: center;
}
.spinner-backdrop {
    z-index: 2000;
    display: block;
    position: fixed;
    top: 30%;
    left: 55%;
    background-color: transparent;
}
#spinnerHolder {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	border-right: 16px solid #3498db;

  	width: 90px;
  	height: 90px;
  	-webkit-animation: spin 0.5s linear infinite; /* Safari */
  	animation: spin 0.5s linear infinite;
}
@keyframes spin {
  	0% { transform: rotate(0deg); }
 	100% { transform: rotate(360deg); }
}
.word-spacing-10px {
	word-spacing: 10px;
}
