<form>
	<div class="info-item col-sm-4">
		<div class="form-group">
			<label class="label-control">New Room</label>
			<input type="text" class="form-control" 
					ng-model="self.room.name"
					ng-click="self.message = null">
		</div>
		<div class="form-group">
			<label class="label-control">Capacity</label>
			<input type="number" class="form-control" 
					ng-model="self.room.capacity"
					ng-click="self.message = null">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" 
					ng-click="self.addNewRoom()">Add</button>
		</div>
		<span>{{self.message}}</span><br>
		<a ng-click="self.viewRoomList()">Rooms list</a>
	</div>
</form>