<button type="button" class="btn btn-default margin-left-15px"
		ng-click="self.viewClassNew()">
	<i class="fa fa-plus"></i> Add New
</button>
<section class="content">
  	<div class="row">
    	<div class="col-sm-8">
      		<div class="box">
        		<div class="box-header">
          			<h3 class="box-title">Class List</h3>
        		</div>
        		<!-- /.box-header -->
	       		<div class="box-body">
	          		<table id="example2" class="table table-bordered table-hover">
			            <thead>
				            <tr>
				              	<th>No.</th>
				              	<th>Class Name</th>
						        <th>Credit</th>
						        <th>No. Student</th>
						        <th>Actions</th>
				            </tr>
			            </thead>
			            <tbody>
			            	<tr ng-repeat="c in self.classes">
			            		<td>{{$index + 1}}</td>
								<td width="30%">
									{{c.name}}
								</td>
								<td width="20%">
									{{c.credit}}
								</td>
								<td width="20%">
									{{c.demand}}
								</td>
								<td width="25%">
									<button class="btn btn-default btn-sm" ng-click="self.onButtonEdit(c); self.onEdit = 'true'">
										<i class="fa fa-pencil hover-style"></i> Edit
									</button>
									<button class="btn btn-primary btn-sm" ng-click="self.deleteClass(c);">
										<i class="fa fa-trash hover-style"></i> Delete
									</button>
								</td>
					      	</tr>
			            </tbody>
			        </table>
	        	</div>
        <!-- /.box-body -->
      		</div>
     	<!-- /.box -->
    	</div>
    <!-- /.col -->
	    <div class="col-sm-4" ng-if="self.onEdit == 'true'">
			<div class="form-group">
				<label class="label-control">Edit Class</label>
				<input type="text" class="form-control" 
						ng-model="self.class.name">
			</div>
			<div class="form-group">
				<label class="label-control">Credit</label>
				<input type="text" class="form-control" 
						ng-model="self.class.credit">
			</div>
			<div class="form-group">
				<label class="label-control">No. Student</label>
				<input type="text" class="form-control" 
						ng-model="self.class.demand">
			</div>
			<button class="btn btn-primary btn-sm float-right"
					ng-click="self.editClass(self.class);">Edit</button>
		</div>
	</div>
</section>